<h1>Welcome <%= @user.username %>!</h1>
<hr>
<h2>Let's Checkout Your Favorite Gifs:</h2>
<% @user.favorites.each do |favorite| %>
<%= image_tag(Gif.find_by(id: favorite.gif_id).image_path) %><br><br>
  <%= link_to "Unfavorite", favorite_path(favorite), method: :delete, class: "btn btn-success" %><hr><br>
<% end %><br>


 <%= link_to "Take me to the Gif Index!", gifs_path, class: "btn btn-primary" %><br>
