<h1>Admin Gifs Index</h1>

<% @gifs.each do |gif| %>
<%= link_to image_tag(gif.image_path), admin_gif_path(gif) %><br>
<%= link_to "Delete", admin_gif_path(gif), method: :delete, class: "btn btn-danger" %>
  <% if !Favorite.find_by(user_id: current_user.id, gif_id: gif.id) %>
     <%= button_to 'Favorite!', {:controller => "favorites",
                  :action => "create",
                  :user_id => current_user.id,
                  :gif_id => gif.id},
                  :method => "post", class: "btn btn-primary" %><hr>

  <% end %>
<% end %>
<%= link_to "Take me back to my admin page!", admin_user_path(current_user) %>
