<h2>Generate a New Gif!</h2>

<%= form_tag admin_gifs_path, :method => 'post' do  %>
<%= text_field_tag :search_term  %>
<%= submit_tag "Submit" %>
<% end %>

<%= link_to "Make a new Category", new_admin_category_path %>
