<h1>Cool gif, huh?</h1>

<%= image_tag(@gif.image_path) %><br>
Disagree? <%= link_to "Delete it.", admin_gif_path(@gif), method: :delete %><br>


<%#= link_to "Favorite!", { :controller => "favorites",
                          :action => "create",
                          :user_id => current_user.id,
                          :gif_id => @gif.id },
                          method: "post" %>
<br>
<%= link_to "Back to the Admin Gif Index!", admin_gifs_path %>
