<h1>Hello Admin!</h1>


<p><%= link_to "View all users", admin_users_path %></p>
<p><%= link_to "Add a new or admin", new_admin_user_path %></p>
<p><%= link_to "Add new category", new_admin_category_path %></p>
<p><%= link_to "Generate new GIF", new_admin_gif_path %></p>
